@page
@model AgenciaTurismo.Pages.PacoteDetailsModel
@{
    ViewData["Title"] = "Detalhes do Pacote";
}

<h2>Detalhes do Pacote</h2>

@if (Model.Pacote == null)
{
    <p class="text-danger">Pacote não encontrado.</p>
}
else
{
    <dl class="row">
        <dt class="col-sm-3">Título</dt>
        <dd class="col-sm-9">@Model.Pacote.Titulo</dd>

        <dt class="col-sm-3">Data de Início</dt>
        <dd class="col-sm-9">@Model.Pacote.DataInicio.ToShortDateString()</dd>

        <dt class="col-sm-3">Capacidade</dt>
        <dd class="col-sm-9">@Model.Pacote.CapacidadeMaxima</dd>

        <dt class="col-sm-3">Preço</dt>
        <dd class="col-sm-9">@Model.Pacote.Preco.ToString("C")</dd>
    </dl>
    <p>

        <a asp-page="/Pages">Voltar para a Lista de Pacotes</a> 
    </p>
}