@page
@model IndexModel
@{
    ViewData["Title"] = "Página Principal - Agência Turismo";
}

<h1>Agência Turismo - Menu Principal</h1>

<ul>
    <li><a href="/Clientes">Gerenciar Clientes (CRUD)</a></li>
    <li><a href="/PacotesTuristicos">Pacotes Turísticos</a></li>
    <li><a href="/Login">Login</a></li>
    <li><a href="/ViewNotes">Anotações (ViewNotes)</a></li>
    <li><a href="/TestCapacity">Teste de Capacidade</a></li>
</ul>
